<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/fonts.css" />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <a href="/">Return to homepage</a>
    <h1>Downloading your timetable</h1>
    <p>
      To download your timetable, you must be a current student and already in
      the timetable database (you can test this by seeing if your timetable is
      already on the official timetable website.)
    </p>
    <p>
      If your timetable exists already, take note of your first and last name,
      and the ID either at the end of the URL, or written on your student ID
      card underneath the barcode.
    </p>
    <p>Enter that information on the form located <a href="/">here</a>.</p>
    <p>
      If your information is valid, a .timetable file will be downloaded to your
      device. This can then be imported.
    </p>
    <h1>Installing the app</h1>
    <p>
      We use the <a href="https://classtimetable.app">Class Timetable</a> app,
      which can be downloaded on iOS, Android and macOS. Please download that
      app before attempting to import a timetable file from this website. You
      can use the link above if you are unsure what to download.
    </p>
    <em>
      I am not affiliated with Class Timetable, and will not be responsible for
      any issues that may arise from using this website. I am also not endorsed
      by Class Timetable and their developers in any way. I simply chose this
      app because it works and is free.
    </em>
    <h1>Importing your timetable</h1>
    <p>
      Once you have installed the app and downloaded your timetable file (on a
      device that supports the app), either directly open the timetable file
      using the app if your device supports that, or open the Class Timetable
      app, open the settings (3 lines in the top left corner), select "Timetable
      Tools" and then "Import Timetable File", and choose the file you
      downloaded from this website.
    </p>
    <h1>Support</h1>
    <p>
      This website is run by a former student that has no affiliation with the
      school, and the website is provided as-is with limited support or updates
      over future years. That being said, feel free to email me using the
      profile on my GitHub (linked on the homepage), contact me directly if you
      know me, or to contribute or modify the original code which is open-source
      on GitHub.
    </p>
  </body>
</html>
